

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

H1,h2,h3,h4,h5,h6{

    font-family: 'Orbitron';
}

a:hover{
    background-color: aqua;
    color: black;
    border: aqua;
    transition: 0.5s;
    width: 99VW;
    position: fixed;
}
article:hover{
    scale: 1.1;
    width: 110%;
    transition: 0.5s;
}
*{
    behavior:inherit;
    scroll-behavior: smooth;
    scrollbar-width: none;
    transition: all;
    scrollbar-arrow-color: aqua;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}